@font-face {
    font-family: 'FuturaMediumC';
    src: url(FuturaMediumC.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville Cyrillic LT Std';
    src: url(BaskervilleCyrLTStd-Upright.eot);
    src: url(BaskervilleCyrLTStd-Upright.eot?#iefix) format('embedded-opentype'),url(BaskervilleCyrLTStd-Upright.woff) format('woff'),url(BaskervilleCyrLTStd-Upright.ttf) format('truetype'),url(BaskervilleCyrLTStd-Upright.svg#BaskervilleCyrLTStd-Upright) format('svg');
    font-weight: 400;
    font-style: normal;
}

body {
  font: 400 15px/17px 'FuturaMediumC', 'Arial', sans-serif;
}

main {
  position: relative;
  overflow: hidden;
}

.top-line {
  background-color: #efefef;
  height: 25px;
  padding-top: 5px;
  font-weight: bold;
}

.top-line::after {
  content: '';
  display: table;
  width: 100%;
}

.top-line div {
  float: left;
}

.top-line ul {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-line li {
  float: left;
}

.top-line li + li {
  margin-left: 40px;
}

.logo-block .left {
  float: left;
}

.logo-block .right {
  float: right;
}

.logo-block .centr {
  height: 100px;
  text-align: center;
}

.logo-block a {
  font-size: 0;
}

.menu {
  background-color: #1a1a1a;
  color: #ffffff;

}

.menu ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu li, .path li {
  display: inline-block;
}

.menu li + li {
  margin-left: 50px;
}

.menu a, .path a {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  padding: 6px 0;
}

.path {
  margin-left: -40px;
}

.path a {
  color: #9b9b9b;
  font-size: 13px;
  font-weight: bold;
}

.path li:nth-child(3) a {
  text-decoration: underline;
}

.path a img {
  width: 20px;
  height: 20px;
  padding-bottom: 0px;
}

.grid {
  margin-right: -30px;
  height: 790px;
}

.grid > div {
  float: left;
  text-align: center;
  border-color: white;
  width: 10%;
  margin-top: 5px;
  padding-right: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.grid > div div {
  background-color: bisque;
  height: 116px;

}

.grid > div:nth-child(2) {
  width: 45%;
}

.grid > div:nth-child(2) div {
  background-color: yellow;
  height: 790px;
}

.grid > div:nth-child(3) {
  padding-right: 0px;
  padding-top: 0px;
  width: 45%;
  //height: 790px;
}

.grid > div:nth-child(3) div {
  background-color: aquamarine;
  height: 790px;

}

#name-product {
  padding-top: -30px;
  height: 420px;
  padding-top: 50px;
  box-sizing: border-box;

}

#name-product span {
  font: 400 42px/45px 'Baskerville Cyrillic LT Std', 'Arial', sans-serif;
  //font-weight: 20px;
}

#price {
  font: 400 40px/42px 'FuturaMediumC', 'Arial', sans-serif;
  //font-weight: 400;
}

#name-product #number {
  width: 20px;

}


#name-product h1 {
  margin-top: 0;

}

#discription-product {
  height: 188px;
  text-align: left;
  padding-left: 30px;
  padding-right: 60px;
  border-top: solid 2px black;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
  overflow: auto;
}

#discription-text {
  font: 400 16px/22px 'Baskerville Cyrillic LT Std', 'Arial', sans-serif;
}

#size-and-material, #pass {
  height: 58px;
  text-align: left;
  padding-left: 40px;
  border-top: solid 2px black;
  text-transform: uppercase;
  box-sizing: border-box;
  overflow: auto;
}

#pass {
  border-bottom: solid 2px black;
}

.grid > div:nth-child(4) {
  width: 10%;
  margin-top: -674px;
}

.grid > div:nth-child(4) div {
  background-color: gray;
}

.grid > div:nth-child(5) {
  //width: 115px;
  width: 10%;
  margin-top: -528px;
}

.grid > div:nth-child(5) div {
  background-color: lime;

}

.grid > div:nth-child(6) {
  width: 10%;
  margin-top: -382px;
}

.grid > div:nth-child(6) div {
  background-color: pink;
}

.grid > div:nth-child(1) div:hover,
.grid > div:nth-child(4) div:hover,
.grid > div:nth-child(5) div:hover,
.grid > div:nth-child(6) div:hover {
  border: solid 2px #ff0092;
}

.liked {
  text-align: center;
  height: 510px;
}

.liked > div {
  border-top: solid 2px #d3d3d3;
  margin-top: 50px;
}

.liked > div h3 {
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 15px;
}

.liked div > div {
  float: left;
  height: 385px;
  width: 20%;
  background-color: green;
  margin: 10px;
  box-sizing: border-box;
}

.liked div > div:hover {
  border: solid 2px #ff0092;
}

.liked div > div:nth-child(2) {
  background-color: yellow;
}

.liked div > div:nth-child(3) {
  background-color: pink;
}


.liked div > div:nth-child(4) {
  background-color: lime;
}

.liked div > div:nth-child(6) {
  background-color: white;
  width: 5%;
}

.liked div > div img {
  height: 275px;
  width: 185px;
}


.after-liked {
  height: 270px;
}

.after-liked > div {
  border-top: solid 2px #d3d3d3;
  padding-top: 17px;
}


.after-liked > div div {
  float: left;
  height: 210px;
  width: 20%;
  background-color: green;
  margin: 10px;
}

.after-liked div > div:nth-child(2)  {
  background-color: yellow;
}

.after-liked div > div:nth-child(3)  {
  background-color: pink;
}

.after-liked div > div:nth-child(4) {
  background-color: white;
  width: 32%;
  border: solid 2px #d3d3d3;
  text-align: center;
}

.after-liked div > div img {
  height: 210px;
  width: 210px;
}

.after-liked div > div #instagramm {
  height: 24px;
  width: 24px;
  margin-top: 30px;
}

.clients > div {
  text-align: center;
  border-top: solid 2px #d3d3d3;
  height: 175px;
}

.clients > div h2 {
  font: 400 16px/22px 'Baskerville Cyrillic LT Std', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #807e7e;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.clients ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.clients li {
  display: inline-block;
}

.clients li div {
  height: 90px;
  width: 200px;
  padding-top: 25px;
  box-sizing: border-box;
}

.clients li div img {
  height: 20px;
  width: 30px;
  padding-left: 50px;
}

.clients a {
  margin-left: 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
  padding-left: -20px;
}

.soc-net li + li {
  margin-left: 25px;
}

.soc-net li:nth-child(3) {
//  margin-top: -50px;
//  box-sizing: border-box;
}

.soc-net img {
  width: 18px;
  height: 18px;
}

.coop > div {
  height: 35px;
  padding-top: 10px;
}

.coop ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.coop li {
  display: inline-block;
}

.coop li + li {
  margin-left: 40px;
}
